html,
body {
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
}

.controls {
  opacity: 0
}